@import '../fonts/fonts.css';
@import 'bootstrap.min.css';


#mainheader{
  font-family: 'Permanent Marker', cursive;
  font-weight: 500;
}



html,body{
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
    --webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}


h2,h3,h4,h5,h6{
	font-family: Lato, sans-serif;
}

/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

header[role="banner"]{
  background-image: url(../assets/HERO-IMAGE.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lyrics{
  border-top: 1px solid black;
  border-bottom:1px solid black;
  padding:30px;
  font-style: italic;
  text-align: center;
  line-height: 1rem;
}

/** Looping Background Video **/
.looping-background-video{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}
.looping-background-video video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100vh;
	z-index: -100;
}
@media (min-aspect-ratio:16/9){
	.looping-background-video video{
		width: 100vw;
		height: auto;
	}
}


/** Sticky for scrollytelling layout **/
[data-sticky-graphic] {
	top: 35%;
}


/*** STYLIZED NAVIGATION LIST ****/


.list-group-stylized li.list-group-item{
  min-height: 6rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: transparent;
  cursor: pointer;
}

.list-group-stylized li.list-group-item p{
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
  margin: 0;
}

.list-group-stylized li.list-group-item small{
  margin: 0;
  text-align: right;
  display: block;
  margin-top: -2%;
  font-family: Lato, sans-serif;
  font-weight: 600;
  letter-spacing: .04rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.list-group-stylized li.list-group-item > *{
  position: relative;
  z-index: 1;
  color: black;
  margin: 0;
  transition: color .375s cubic-bezier(.16,1,.3,1);
}

.list-group-stylized li.list-group-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background);
  background-size: 100% auto;
  background-position: center;
  z-index: -1;
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path .55s cubic-bezier(.16,1,.3,1),
    background-size 1.7s cubic-bezier(.16,1,.3,1);
}

.list-group-stylized li.list-group-item:hover > *{
  color: #fff;
}

.list-group-stylized li.list-group-item:hover::before{
  clip-path: inset(0% 0% 0% 0%);
  background-size: 130% auto;
}

